/* _about.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {
	.about {
		padding: 20px 20px 60px;

		.about__poster {
			display: none;
		}

		.about__text {
			h3 {
				padding-top: 1.75em;
			}

			p {
				text-align: justify;
			}
		}
	}
}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	.about {
		width       : 75vw;
		padding     : 0 20px;
		margin-left : auto;
		margin-right: auto;
		padding-top : 60px;
		display     : -webkit-box;
		display     : -ms-flexbox;
		display     : flex;

		.about__poster {
			display            : block;
			padding-top        : 2vw;
			padding-right      : 2vw;
			height             : 33vw;
			max-height         : 600px;
			-ms-flex-item-align: end;
			align-self         : flex-end;
		}

		.about__text {
			h3 {
				padding-top: 6vw;
				margin-top : 0;
			}
		}
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}