/* _typography.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {
	body,
	dd,
	dt,
	html,
	li,
	p,
	td,
	th {
		font-family: 'Noto Sans', sans-serif;
		font-weight: 400;
	}

	h1,
	h2,
	h4,
	h5,
	h6 {
		font-family: 'Noto Sans';
	}

	h2 {
		font-weight: 900;
	}

	h3 {
		font-family: 'Noto Sans', sans-serif;
		font-weight: 700;
	}
}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
	h3 {
		font-size: 1.2vw;
	}

	p {
		font-size: 1vw;
	}
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}