/* _works.scss */
/* Small screens*/
/* min-width: 320px, mobile-only screens */
@media only screen {
    .works {
        background-color: rgba(100, 203, 192, 1);
        text-align      : center;
        padding-bottom  : 20px;
        margin-left     : auto;
        margin-right    : auto;
        width           : 100%;

        .works-container {
            margin-left : auto;
            margin-right: auto;
            width       : 86vw;

            h2 {
                margin        : 0;
                padding-top   : 2.7em;
                padding-bottom: 1.5em;
            }
            /* Common style */
            & figure {
                position  : relative;
                overflow  : hidden;
                margin    : 10px 1%;
                min-width : 16vw;
                max-width : 32vw;
                max-height: 19vw;
                width     : 48%;
                background: #3085a3;
                text-align: center;
                cursor    : pointer;
                display   : inline-block;
                color     : #64cbc0;
            }

            & figure img {
                position  : relative;
                display   : block;
                min-height: 100%;
                max-width : 100%;
                opacity   : 0.9;
            }
        }
    }
}
/* Medium screens*/
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}
/* Large screens*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
    .works {
        height        : 35vw;
        padding-top   : 60px;
        padding-bottom: 60px;

        .works-container {
            h2 {
                padding-top   : 0.7em;
                padding-bottom: 1.5em;
            }
            /* Common style */
            & figure {
                position  : relative;
                overflow  : hidden;
                margin    : 10px 1%;
                min-width : 16vw;
                max-width : 20vw;
                max-height: 19vw;
                width     : 48%;
                background: #3085a3;
                text-align: center;
                cursor    : pointer;
                display   : inline-block;
                color     : #64cbc0;
            }

            & figure img {
                position  : relative;
                display   : block;
                min-height: 100%;
                max-width : 100%;
                opacity   : 0.9;
            }

            & figure figcaption {
                padding                    : 2em;
                color                      : #fff;
                text-transform             : uppercase;
                font-size                  : 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility        : hidden;
            }

            & figure figcaption::after,
            & figure figcaption::before {
                pointer-events: none;
            }

            & figure figcaption,
            & figure figcaption > a {
                position: absolute;
                top     : 0;
                left    : 0;
                width   : 100%;
                height  : 100%;
            }
            /* Anchor will cover the whole item by default */
            /* For some effects it will show as a button */
            & figure figcaption > a {
                z-index    : 1000;
                text-indent: 200%;
                white-space: nowrap;
                font-size  : 0;
                opacity    : 0;
            }

            & figure h2 {
                word-spacing: -0.15em;
                font-weight : 300;
            }

            & figure h2 span {
                font-weight: 800;
            }

            & figure h2,
            & figure p {
                margin: 0;
            }

            & figure p {
                letter-spacing: 1px;
                font-size     : 68.5%;
                padding-top   : 5%;
                padding-right : 10%;
            }
            /* Individual effects */
            /*---------------*/
            /***** Zoe *****/
            /*---------------*/
            figure.effect-zoe:hover {
                img {
                    -webkit-filter: brightness(60%);
                    filter: brightness(60%);
                }
            }

            figure.effect-zoe figcaption {
                top               : auto;
                bottom            : 0;
                padding           : 0;
                height            : 3.75em;
                background        : #fff;
                color             : #3c4a50;
                -webkit-transition: -webkit-transform 0.35s;
                transition        : -webkit-transform 0.35s;
                transition        : transform 0.35s;
                transition        : transform 0.35s, -webkit-transform 0.35s;
                -webkit-transform : translate3d(0,100%,0);
                transform         : translate3d(0,100%,0);
            }

            figure.effect-zoe h2 {
                float: left;
            }

            figure.effect-zoe p.icon-links a {
                float    : right;
                color    : #3c4a50;
                font-size: 1.4em;
            }

            figure.effect-zoe:hover p.icon-links a:focus,
            figure.effect-zoe:hover p.icon-links a:hover {
                color: #252d31;
            }

            figure.effect-zoe p.description {
                position                   : absolute;
                bottom                     : 7em;
                padding-left               : 12%;
                color                      : #fff;
                text-transform             : none;
                font-size                  : 90%;
                opacity                    : 0;
                -webkit-transition         : opacity 0.35s;
                transition                 : opacity 0.35s;
                -webkit-backface-visibility: hidden;
                /* Fix for Chrome 37.0.2062.120 (Mac) */
            }

            figure.effect-zoe h2,
            figure.effect-zoe p.icon-links a {
                -webkit-transition: -webkit-transform 0.35s;
                transition        : -webkit-transform 0.35s;
                transition        : transform 0.35s;
                transition        : transform 0.35s, -webkit-transform 0.35s;
                -webkit-transform : translate3d(0,200%,0);
                transform         : translate3d(0,200%,0);
            }

            figure.effect-zoe p.icon-links a span::before {
                display                : inline-block;
                padding                : 8px 10px;
                font-family            : FontAwesome;
                speak                  : none;
                -webkit-font-smoothing : antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .icon-preview::before {
                content: '\f0c1';
            }

            .icon-github::before {
                content: '\f09b';
            }

            figure.effect-zoe h2 {
                display: inline-block;
            }

            figure.effect-zoe:hover p.description {
                opacity: 1;
            }

            figure.effect-zoe:hover figcaption,
            figure.effect-zoe:hover h2,
            figure.effect-zoe:hover p.icon-links a {
                -webkit-transform: translate3d(0,0,0);
                transform        : translate3d(0,0,0);
            }

            figure.effect-zoe:hover h2 {
                -webkit-transition-delay: 0.05s;
                transition-delay        : 0.05s;
                padding-left            : 15px;
            }

            figure.effect-zoe:hover p.icon-links a:nth-child(3) {
                -webkit-transition-delay: 0.1s;
                transition-delay        : 0.1s;
            }

            figure.effect-zoe:hover p.icon-links a:nth-child(2) {
                -webkit-transition-delay: 0.15s;
                transition-delay        : 0.15s;
            }

            figure.effect-zoe:hover p.icon-links a:first-child {
                -webkit-transition-delay: 0.2s;
                transition-delay        : 0.2s;
            }
        }
    }
}
/* XLarge screens*/
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {}
/* XXLarge screens*/
/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {}
