/* main.scss */
/* Page base*/
@import "modules/_colors";
@import "modules/_features";
@import "partials/_typography";
@import "partials/_buttons";
/* Page content*/
@import "partials/_header";
@import "partials/_about";
@import "partials/_skills";
@import "partials/_works";
@import "partials/_contact";

* {
	scroll-behavior: smooth;
}

#particles-js {
	position: relative;
	width   : 100%;
}